body,
body* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;  
}

body { 
    background-color: black;
    margin: 20vh;
}

.container {
    display: inline-block;
    width: 1000px;
    margin-left: calc((100% - 1000px) / 2);
    margin-top: 10px; 
}

.heading {
    display: inline-block;
    float: left;
    width: 100%;
    background-color: #17191A;
    color: white;
}

.heading  > img {
    display: inline-block;
    float: left;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}

.top-links {
    display: inline-block;
    float: right;
    margin-top: 16px;
    text-align: center;
    margin-right: 100px; 
}

.top-links > a {
    display: inline-block;
    float: left;
    line-height: 16px;
    font-size: 10px;
    border: 2px solid transparent;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header > nav > a:last-child {
    float: right;
    border-color: #2684C3;
    background-color: #2684C3;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    margin-left: 120px;
    text-transform: none;
}

.middle-part { 
    display: inline-block;
    width: 100%;
    text-align: center;    
    background-image: url(../img/background.png);
}

.middle-part > img {
    display: inline-block;
    margin-top: 40px;
}

.middle-part > h1 {
    display: block;
    font-size: 160px;
    line-height: 110px;
    margin: 0;
    color: #424344;
}

.middle-part > p {
    display: block;
    width: 30%;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    color: #424344;
    margin-left: 35%;
}

.middle-part > a { 
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
    border: 1px solid #68AED9;
    background-color: #68AED9;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: white;   
}

.bottom-part { 
    display: inline-block;
    width: 100%;
    background-color: #17191A;   
}

.bottom-columns {
    display: inline-block;
    float: left;
    width: 12%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 0px;   
}

.bottom-columns:first-child {
    margin-left: 250px;    
}

 .bottom-titles {
    display: inline-block;
    width: 100%;
    margin: 0;
    line-height: 16px;
    font-size: 14px;
    color: white;
    text-decoration: none;
 }

 .bottom-columns > a {
    display: inline-block;
    float: left;
    width: 100%;
    line-height: 16px;
    font-size: 12px;
    color: #2684C3;
    text-decoration: none;
 }
    
.bottom-columns:last-child {
    display: inline-block;
    float: left;
    width: 15%;
}

 .bottom-links {
     display: inline-block;
     width: 100%;
     margin-top: 10px;
}

 